@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #222;
  background-color: #333;
  overflow-x: hidden;
  margin: 0;
}


.container {
  background-color: #fafafa;
  /* We want to rotate from top left, so thats why we add the transform origin top left */
  transform-origin: top left;
  transition: transform linear 500ms;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  /* position: absolute; */
}



.container.show-nav {
  transform: rotate(-20deg);
  /* position: relative; */

}

/* the */
.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

/* The height and the width is 200px,
  the container is -100 and that is wh
  we have the shape in the corner
 */
.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: white;
  cursor:pointer;
}


/* These are the settings to move the buttons when the
page is clicked on.
button#open is on the left 60%. So thats why we see where is now
the button#close is rotated 90 and is in the top left, when it comes
out it will be on the screen in good position

*/
.circle button:focus{
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  left: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;

}

.content img {
  max-width: 100%;

}


.content {
  max-width: 1000px;
  margin: 50px auto;

}


.content small {
  color: #333;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}

nav {
  position: fixed;
  bottom: 40px;
  left:0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translate(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translate(-200%);
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translate(-100%);
  transition: transform 0.4s ease-in;
}
